@import "tailwindcss";
 

h1{
  color: #2b7fff;
}

/* Day/Night Toggle Styles */

.switch{
  position: relative;
  display: inline-block;
  font-size: 1rem;
  width: 50px;
  height: 25px;
}

.toggle-input {
  opacity:0;
  width:0;
  height:0;
}

.slider{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: gray;
  transition: .4s;
  border-radius: 30px;
}

.slider:before{
  position: absolute;
  content:"";
  height: 20px;
  width: 20px;
  left:2px;
  bottom:2px;
  border-radius: 20px;
  background-color: white;
  transition: .4s;
}

.fa-sun{
  position: absolute;
  cursor: pointer;
  top: 1px;
  left:30px;
  z-index: 1;
  color: yellow;
  width: 24px;
  height: 24px;
  padding: 0.2rem;
}

.fa-moon{
  position: absolute;
  cursor: pointer;
  top: 1px;
  left:4px;
  z-index: 1;
  color: ghostwhite;
  width: 24px;
  height: 24px;
  padding: 0.2rem;
}

.toggle-input:checked + .slider{
  background-color: black;
}

.toggle-input:checked + .slider:before{
  transform: translateX(30px);
}


/* Navigation Styles */

.header-logo{
  color: #2b7fff;
}
.navigation-links{
  display: block;  /* Desktop view */
}

.nav-menu{
  display:none;
}
  
.nav-items a:hover {
 color:darkblue;
 font-weight: bold;
}
.logo{
    animation: logo-typing 2s ease-in-out 0s normal;
}

@keyframes logo-typing{
    0% { color: transparent; border-right: 2px solid  #2b7fff; }
    100% { color: darkblue; border-right: none; }
}

  /* Home Section */

.home-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.home-text{
  color: #2b7fff;
}

.home-intro {
  margin: auto 0;
}

.profile-designation{
  color: darkblue;
  animation: designation-blink 2s infinite;
}

@keyframes designation-blink{
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.social-icon i:hover {
  color:#2b7fff;
  cursor: pointer;
}

.btn-cv {
  align-items: center;
  background-color: #2b7fff;
  font-weight: bold;
}
.btn-cv:hover {
  background-color: darkblue;
  font-weight: bold;
  color: white;
}   

.home-img{
  height: 350px; 
  width: 350px; 
  border-radius: 50%; 
  z-index: 1;
  animation: floatimage 3s ease-in-out infinite;
}

@keyframes floatimage {
  0% { transform: translatey(0); }
  50% { transform: translatey(-2.4rem); }
  100% { transform: translatey(0); }
}

/* About Section Styles */

.about-section {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.about-section img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.about-read-more{
  border:1px solid #2b7fff;
  border-radius:50px;
  padding: .5rem;
  background-color:#2b7fff;
  color: white;
  font-weight: bold;
  float: left;
  margin-top: 1rem;
}

.about-read-more:hover{
  background-color: darkblue;;
  cursor: pointer;
}

/* Skills Section Styles */

.skills-section{
    width: 50%;
    margin-right:3rem
    
}

.skill-item{
  box-shadow: 0px 5px 15px;
  height: 3rem;
  position: relative;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.skill-level{
  height:0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;

}

.skill-container{
  display: flex;
  justify-content: space-between;
}

.html-skill{
  width:90%;
  background-color: #2b7fff;
}

.css-skill{
  width:80%;
  background-color: #2b7fff;
}

.js-skill{
  width:70%;
  background-color: #2b7fff;
}

.react-skill{
  width:75%;
  background-color: #2b7fff;
}

/* Certificates Section Styles */

.certificates-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.certificates-content{
  border: 1px solid black;
  box-shadow: 0px 5px 15px;
  padding: 1rem;
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;
}

.certificates-content:hover{
  transform: scale(1.05);
}

.certificate-btn{
  display: flex;
  justify-content: center;
  margin-top: 1rem;;
}


.certificate-btn button{
  background-color: #2b7fff;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid #2b7fff;
} 

.certificate-btn button:hover{
  background-color: darkblue;
  cursor: pointer;
}

/* Projects Section Styles */

.projects-container{
  display:grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1rem;
  
}

.project-item{
  position: relative;
}

.project-item img{
  width: 100%;
  height: 100%;;
}

.project-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 0;
  text-align: center;
}

.project-item:hover img{
  opacity: .3;
  transition:  0.3s ease;
}
.project-item:hover .project-content{
  opacity: 1;
  cursor: pointer;
}

/* Contact Section Styles */

.contact-container{
  text-align: center;
}

input[type=text], input[type=email], input[type=number], textarea {
  width: 40%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

textarea{
  width: 80%;
}

input[type=submit] {
  background-color: #2b7fff;
  color: white;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: darkblue;
  cursor: pointer;
  font-weight: bold;
}

/* Footer Styles */

.footer-container{
  background-color: black;
  color: white;
  height: 8rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.footer-container i{
  margin: 0.5rem;
  cursor: pointer;
}

.footer-container i:hover{
  color: #2b7fff;
}

/* Responsive Styles */

@media screen and (max-width:768px){

  .navigation-links{
    display:none;
  }

  .nav-menu{
    display:block;
  }

.home-container{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    img{
      order: 1;
    }
  }
  .about-section{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  
  #about h1{
    margin-bottom: 2rem;
  }

  .about-read-more{
    float: none;
  }

  .skills-section{
    width:100%
  }

  .skill-container{
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  .certificates-container{
    grid-template-columns: 1fr;
  }

  .certificates-content{
    margin-bottom: 2rem;
  }

  .projects-container{
    grid-template-columns: 1fr;
  }

  input[type=text], input[type=email], input[type=number], textarea{
    width:100%
  }
}



